/KokrjachApi/.vs/
/KokrjachApi/KokrjachApi/obj/
/KokrjachApi/KokrjachApi/bin/
/KokrjachApi/Events/obj/
/KokrjachApi/Events/bin/
*.csproj.user
*.Development.json
/KokrjachApi/EventsClient/bin/
/KokrjachApi/EventsClient/obj/
/KokrjachApi/bin/
/KokrjachApi/obj/
/KokrjachApi/datadir/
/KokrjachApi/Protos/bin/
/KokrjachApi/Protos/obj/
